/* #h1 {
    background-color: aquamarine;
} */

/* .abc {
    background-color: hotpinks;
}
.xyz {
    background-color: green;;
} */

/* #outter {
    background-color: aqua;
}

#inner {
    background-color: brown;
}

.a {
    background-color: crimson;
} */

#box {
    height: 150px;
    width: 150px;
    background: blue;
}